# MacOS
.DS_Store

###########################################
# Javascript / Typescript / Node / Nodejs #
###########################################
node_modules
# Typescript build output
*.tsbuildinfo
.build
# Directory for testing walk-dir
walk-dir/example
# Output data for js/packages/ode
js/packages/ode/.data
